# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# If you're using the Django Secret Key stored in a file
.secret_key

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env

# Virtualenv
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# MySQL database files
*.sql

# Node
node_modules/

# Sentry
.sentryclirc

# Backup files
*.bak
*.swp
*~
